body {
	/* Variables */
	--accentuation-main: #4b86a2;
	--accentuation-secondary: #a24b86;
	--accentuation-tertiary: #86a24b;
	--accentuation-disabled: #7d7d7d;
	--background: #111111;
	--layer-1: #1b1b1b;
	--text: #eeeeee;
	/* Display */
	margin: 0px;
	background-color: var(--background);
	/* Text */
	color: var(--text);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (prefers-color-scheme: light) {
	body {
		--background: #ffffff;
		--layer-1: #d6d6d6;
		--text: #000;
	}
}

header.header {
	height: 70px;
	width: 100vw;
	background-color: var(--layer-1);
	display: flex;
}

div.header-link {
	/* Display */
	height: auto;
	padding: 12px;
	display: flex;
	font-size: 1.3em;
	/* Position */
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition-duration: 100ms;
}

div.header-link.header-animate:hover {
	background-color: #ffffff20;
}

div.header-download {
	background-color: var(--accentuation-main);
	position: relative;
	margin-left: auto;
}

img.header-logo {
	height: 100%;
}