:root {
    /* Additional variables */
    --header-height: 80px;
    --mlp-width: 700px; /* mlp: main left pannel */
    --pannels-spacing: 25px;
    --border-width: 2px;
    /* Font */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    /* Position */
    padding: 6.5px;
    /* Display */
    border-radius: 5px;
    /* Text */
    font-size: 20px;
    text-decoration: none;
    color: var(--opposite);
}

/* Header */
header {
    /* Position */
    width: 100vw;
    height: var(--header-height);
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Colors */
    background-color: var(--layer-1);
    border-bottom: 2px solid var(--border);
}
div.header-left {
    /* Position */
    padding: 20px;
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: left;
}
div.header-right {
    /* Position */
    padding: 20px;
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* Logo */
a.header-logo-link {
    display: flex;
    text-decoration: none;
}
p.header-logo-title {
    /* Position */
    margin: auto;
    margin-left: 15px;
    /* Text */
    font-size: 30px;
    font-weight: 600;
    color: var(--opposite);

}

/* Download */
a.header-download-link {
    /* Colors */
    background-color: var(--accentuation-main);
}

/* Left panel */
div.main-left-panel {
    /* Position */
    width: var(--mlp-width);
    height: calc(100vh - var(--header-height) - 2*var(--pannels-spacing) - 3*var(--border-width));
    margin: var(--pannels-spacing);
    /* Display */
    border: var(--border-width) solid var(--border);
    border-radius: 20px;
    /* Colors */
    background-color: var(--layer-1);
}
h1.mlp-title {
    /* Position */
    margin: var(--pannels-spacing);
    /* Text */
    font-variant: small-caps;
    text-align: center;
    color: var(--opposite);
}
div.mlp-subpannel {
    /* Position */
    width: calc(var(--mlp-width) - 4*var(--pannels-spacing) - 2*var(--border-width));
    height: fit-content;
    margin: var(--pannels-spacing);
    padding: var(--pannels-spacing);
    /* Display */
    border: var(--border-width) solid var(--border);
    border-radius: 20px;
    /* Colors */
    background-color: var(--layer-2);
}
h2.mlp-subtitle {
    /* Position */
    margin: 0px;
    margin-bottom: var(--pannels-spacing);
    /* Text */
    font-variant: small-caps;
    color: var(--opposite);
}
div.mlp-syh-links {
    /* Position */
    display: flex;
    gap: var(--pannels-spacing);
    /* Colors */
    /* background-color: aliceblue; */
}
a.mlp-syh-discord {
    /* Colors */
    /* background-color: var(--accentuation-tertiary); */
    background-color: #5864f2;
}
a.mlp-syh-github {
    /* Colors */
    /* background-color: var(--accentuation-secondary); */
    background-color: #975bf1;
}
a.mlp-syh-google {
    /* Colors */
    /* background-color: var(--accentuation-secondary); */
    background-color: #5383ec;
}